<div class="card">
    <h1 class="card-title">Events</h1>

    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-sm my-col eventscards d-flex justify-content-center">

          <div class="col-sm my-col eventscards" >
         <div class="col-sm my-col center" *ngFor="let item of events; let first = first">
         <app-event [event]="item" *ngIf="first"></app-event>
</div>

        </div>
      </div>
    </div>
    <button routerLink="/events" type="button" class="btn btn-secondary btn-lg button">Explore More</button>

