/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* The color of the background - navbar */
.navbar-bg {
  background-color: #1e2227;
}

/* Color of the navbar items */
.links-nav-container > a,
.links-nav-container a span,
.links-nav-container a mat-icon,
.toggle-button button mat-icon {
  color: #f2f2f2;
}
