<p>Join Community</p>
<div class="container-join-us">
  <div class="desc-div">
    As we are customer centric startup we give the opportunity to our community
    to decide which destination we explore through the polls that we share on
    our facebook group.
    <div class="emoji">
      <h3>Join Community</h3>
      <div class="spacer"></div>
      <mat-icon class="emoji">groups</mat-icon>
    </div>
  </div>

  <div class="number-container">
    <div class="number">3K+</div>
    <h4 class="number-text">Community Members</h4>
  </div>
  <div class="number-container">
    <div class="number">20+</div>
    <h4 class="number-text">Adventure</h4>
  </div>
  <div class="number-container">
    <div class="number">15+</div>
    <h4 class="number-text">Destination</h4>
  </div>
</div>
