<main class="profile-info">
  <img src="../../../assets/images/3986fed5bc314b3ea37701b328c2485d--covers-for-facebook-pop-of-color.jpg" class="bgProfile-img" />

  <div data-aos="zoom-in" data-aos-duration="600" class="profile-image-name">
    <div class="edit-profile">
      <img
        src="../../../assets/images/20220430_143646.jpg"
        class="profile-img"
      />
      <button
        class="button"
        (click)="editProfile()"
        mat-raised-button
        color="primary"
      >
        Edit profile
      </button>
      <button
        class="button"
        (click)="createEvent()"
        mat-raised-button
        color="primary"
      >
        Create Event
      </button>
    </div>
    <!-- <h1 class="profile-name">{{ firstName }} {{ lastName }}</h1> -->
    <h1 class="profile-name">Amira bezine</h1>
  </div>
  <div class="spacer"></div>
  <div data-aos="zoom-in" data-aos-duration="600" class="data">
    
  </div>
</main>
