<!-- 
<div class="card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img class="card-img-top image" src="{{ image }}" alt="Card image cap" />
      <div class="bottom-left top">{{ name }}</div>
      <div class="bottom-left bottom">{{ place }} {{ date | date }}</div>
    </div>
    <div class="flip-card-back">
      <h1>{{ name }}</h1>
      <h2>Location: {{ place }}</h2>
      <h3>Starts on: {{ date | date }}</h3>
      <h3>Lasts for: {{ nbDays }} days</h3>
      <p>{{ description }}</p>
      <div class="bottom-text">
        <p>Price: {{ price }}</p>
        <button mat-button class="button" (click)="openDialog()">
          Join now!
        </button>
      </div>
    </div>
  </div>
</div> -->


           
<div class="card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img class="card-img-top image" src="../../assets/images/20220430_143646.jpg" alt="Card image cap" />
      <div class="bottom-left top">event</div>
      <div class="bottom-left bottom">tunis 16-01-2999</div>
    </div>
    <div class="flip-card-back ">
      <div class="back-details">
      <h1>Event Name</h1>
      <h2>Location: tunis</h2>
      <h3>Date: 16-01-2999</h3>
      <h3>Duration 4 days</h3>
      <p>bla bla bla</p>
    </div>
      <div class="bottom-text">
        <p>Price: 80dt</p>
        <button mat-button class="button" >
          Join now!
        </button>
      </div>
    </div>
  </div>
</div>
     