<main class="main">
    <img
      src="../../../assets/images/AuthImages/authbackground.jpg"
      class="login-image"
      alt=""
    />
    <div data-aos="zoom-in" data-aos-duration="600" class="login">
      <h1 class="title">Sign In</h1>
  
      <form class="credentials">
        <input class="input">
          <label>Username</label>
          <input
            name="username"
            type="text"
            required
            matInput
            placeholder="Username"
          />
        
  
        <input class="input">
          <label>Password</label>
          <input
            name="password"
            required
            type="password"
            matInput
          />

  
        <div class="error-message" *ngIf="error">
          <p>{{ error }}</p>
        </div>
  
        <button
          class="login-button"
          mat-raised-button
          color="primary"
          (click)="login()"
        >
          Login
        </button>
      </form>
      <p class="register-link">
        Don't have an account?
        <a mat-raised-button routerLink="/register" color="primary"> Register</a>
      </p>
    </div>
  </main>
  