<!-- 

<p >Your Cosmic Future Events</p>
<div class="container-upcoming">
  <div class="col-sm my-col" *ngFor="let item of upComingEvents"> 
            <app-event [event] = "item"> </app-event>
   <app-layout *ngFor="let event of upComingEvents" [event]="event"></app-layout> -->
<div class="button-container"></div> 
<p  *ngIf="upComingEvents.length" >Your Cosmic Future Events</p>
<div class="container-upcoming">
  <div class="col-sm my-col" *ngFor="let item of upComingEvents"> 
            <app-event [event] = "item"> </app-event>
  <!-- <app-layout *ngFor="let event of upComingEvents" [event]="event"></app-layout> -->
</div>
<div class="button-container"></div>