<section class="showcase">
  <!-- <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="../../../assets/file.mp4" type="video/mp4">
</video> -->
  <img class="background" src="../../assets/images/homeBg.png" alt="background"/>
  <div class="overlay"></div>
  <div data-aos="fade-up" class="text">
    <h3 data-aos="fade-up">Explore The cosmos!</h3>
    <!-- <h3 data-aos="fade-up">The cosmos!</h3> -->
    <p data-aos="fade-up">
      Welcome to Cosmic Experience, where the mysteries of the cosmos come to life! 
      Our website offers a unique opportunity to explore the universe through thrilling stargazing events and astronomy-related activities. 
      Immerse yourself in the beauty of the night sky!
      Whether you're an experienced stargazer or just starting to explore the cosmos, Cosmic Experience has something for everyone.  
      Unleash your inner astronomer and discover the mysteries of the cosmos with us! 
    </p>
    <!-- <img class="logo" src="../../../assets/logo.png" alt="logo" /> -->
  </div>
</section>