<section class="showcase">
  <video src="../../../assets/file.mp4" muted loop autoplay></video>
  <div class="overlay"></div>
  <div data-aos="fade-up" class="text">
    <h2 data-aos="fade-up">Never Stop</h2>
    <h3 data-aos="fade-up">Exploring The World</h3>
    <p data-aos="fade-up">
      Exploring nature by making cycling trips in the large and
      high mountains, exploring amazing lakes and camping under the
      magnificent view of the stars of our beautiful country TUNISIA.
    </p>
    <img class="logo" src="../../../assets/logo.png" alt="logo" />
  </div>
</section>