<div>
  <!-- Footer -->
  <footer class="text-center text-lg-start text-white" style="background-color: #1e2227">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <img class="logo" src="../../../assets/img/logoblanc1.png" />
            <h2 class="text-uppercase mb-4 font-weight-bold"></h2>
            <p class="desc-text">
              Exploring nature by making cycling trips in the large and
              high mountains, exploring amazing lakes and camping under the
              magnificent view of the stars of our beautiful country TUNISIA.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h2 class="text-uppercase mb-4 font-weight-bold">Dashboard</h2>
            <div class="dashboard-items">
              <p>
                <a class="text-white" mat-button>Home</a>
              </p>
              <p>
                <a class="text-white" mat-button routerLink="/events">Events</a>
              </p>
              <p>
                <a class="text-white" mat-button>Login</a>
              </p>
              <p>
                <a class="text-white" mat-button>Register</a>
              </p>
            </div>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h2 class="text-uppercase mb-4 font-weight-bold">Contact</h2>
            <div class="dashboard-items">
              <p>
                <mat-icon>places</mat-icon> Tunis, Centre Urbain Nord
              </p>
              <p>
                <mat-icon>email</mat-icon> bascalni@gmail.com
              </p>
              <p>
                <mat-icon>call</mat-icon> + 99 770 008
              </p>
              <p>
                <mat-icon>call</mat-icon> + 20 400 417
              </p>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3" />

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3 all-rights">
              © 2021 bascalni. All Rights Reserved.
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button">
              <mat-icon>facebook</mat-icon>
            </a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
    </div>
  </footer>
</div>