<div>
  <!-- Footer -->
  <footer class="text-center text-lg-start text-white footer" style="background-color: #1e2227">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <img class="logo" src="../../../assets/logo.png" />
            <h2 class="text-uppercase mb-4 font-weight-bold"></h2>
            <p class="desc-text">
              Exploring the cosmos by joining the astronomy events in Tunisia!
              and keep yourself posted with everything happening in the night sky with Cosmic experience!

            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h2 class="title links text-uppercase mb-4 font-weight-bold">Links</h2>
            <div class="dashboard-items">
              <p>
                <a class="text-white" mat-button>Home</a>
              </p>
              <p>
                <a class="text-white" mat-button routerLink="/events">Events</a>
              </p>
              <p>
                <a class="text-white" mat-button routerLink="/">News</a>
              </p>
              <p>
                <a class="text-white" mat-button>Login</a>
              </p>
              <p>
                <a class="text-white" mat-button>Register</a>
              </p>
            </div>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h2 class=" title text-uppercase mb-4 ">Contact</h2>
            <div class="dashboard-items" >
              <p>
                <mat-icon>email</mat-icon> Contact@Cosmic-experience.com
              </p>
              <p>
                <mat-icon>call</mat-icon> + 216 73 900 897
              </p>

            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3" />

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3 all-rights">
              © 2023 Cosmic Experience. All Rights Reserved.
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            
          </div>
          <!-- Grid column -->
        </div>
      </section>
    </div>
  </footer>
</div>