mat-form-field {
    margin-right: 12px;
}

.form {
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: white;
    background-color: #27c1df;


}