<!-- <p>Your Cosmic Last Events</p>
<div class="container-upcoming">
  <app-layout *ngFor="let event of upLatestEvents" [event]="event"></app-layout>
</div>
<div class="button-container"></div> -->

<p >Your Cosmic Last Events</p>
<div class="container-upcoming">
  <div class="col-sm my-col" *ngFor="let item of upLatestEvents"> 
            <app-event [event] = "item"> </app-event>
  <!-- <app-layout *ngFor="let event of upComingEvents" [event]="event"></app-layout> -->
</div>
<div class="button-container"></div>