<div class="model-container">
  <div class="model-text">
    <h1 class="title">Why Cosmic Experience?</h1>
    <p>
        Our main goal as space enthusiasts is making space available for everyone. We believe that Tunisia 
        should have a place among the developed nations when it comes to space studies and astronomy.
        We are witnessing a real change in the society and our community is getting wider every day. 
        We created this website to gather the community and make it easier for everyone to meet people that share this interest.
    </p>
  </div>
</div>