<div class="model-container">
  <div class="model-text">
    <h1 class="title">Who Are We ?</h1>
    <p>
      We are Amira Bezine, Salma Borcheni, and Samer Ben Mim. We are three software engineering students and we are also space enthusiasts.
      Not only are we team leaders at the Tunisian Space Association, but we are also active members and active learners. 
    </p>
   <p class="photos">
    <img src="../../../assets/images/20220430_143646.jpg" alt="AmiraBezine">
    <img src="../../../assets/images/20220430_143646.jpg" alt="AmiraBezine">
    <img src="../../../assets/images/20220430_143646.jpg" alt="AmiraBezine">
    </p>
  </div>
</div>